.services {
  color: blue;
  font-size: larger;
  margin-left: 40%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.content {
  margin-top: 50px;
}
.image1 {
  background-image: url(./../rainbow.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.contactsimage {
  background-image: url(./../manon\ phone.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.image2 {
  background-image: url(./../unsplash.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.blue {
  background-image: url(./../tom.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
/* .portrait {

  justify-content: flex-end;
  background-color: rgb(226, 102, 102);
  margin-left: 50%;
  margin-top: 1%;
  width: 50%;
  opacity: 70%;
  padding-left: 7%;
  height: 50vh;
} */

.about {
  margin-top: 7%;
  background-color: white;
  width: 50%;
  opacity: 70%;
  height: 400px;
}
.abouthome {
  margin-top: 7%;
  text-align: center;
  padding-top: 80px;
  /* width: 50%;
  opacity: 70%; */
  height: 400px;
  color: white;
  /* background-color: white; */
}
.abouthome {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.animate-slide-in {
  opacity: 1;
  transform: translateX(0);
}

.abouthome:hover h1 {
  animation: moveText 1s infinite alternate;
}

@keyframes moveText {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}



.quotes span {
  font-weight: bolder;
  padding-left: 30px;
}
img {
  height: 30%;
  width: 30%;
  margin-left: 60%;
}
.quotes p {
  padding-left: 10%;
}
.middlecontent {
  text-align: center;
}
.abouthome p {
  text-align: center;
  padding-top: 30%;
}
.about h1 {
  font-weight: bold;
  padding-left: 50%;
  padding-top: 30%;
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.paragraph {
  display: grid;
  text-align: center;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section-header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.containerhover {
  position: relative;
  width: 50%;
}
.imagenew {
  width: 570px;
  height: 465px;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 0.3s ease;
}
.containerhover:hover .overlay {
  transform: scale(1);
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Five columns with equal width */
  gap: 10px;
}

.grid-item {
  background-color: white;
  margin-right: 70px;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item img {
  width: auto;
  height: 50px;
  max-width: 100%;
}

.cont {
  position: relative;
  height: 70vh;
  background-image: url("./../boxed.jpg"); /* Replace "background-image.jpg" with the path to your background image */
  background-size: cover;
  background-position: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100%;
}

.text {
  height: 40vh;
  width: 40vw;
  color: black;
  padding: 20px;
  align-items: center;
  /* justify-content: flex-end; */
  background-color: white;
  margin-left: 100%;
  margin-top: 1%;
  opacity: 70%;
  /* padding-left: 7%; */
}

.pagen {
  padding-left: 80px;
}

.containerfoot {
  display: flex;
  padding-left: 100px;
}

.column2 {
  flex: 1;
  margin-right: 20px; /* Optional: Add margin between the columns */
}
.column2 h3 {
  padding-top: 5px;
}
.secondsection h2 {
  text-align: center;
}
.con {
  justify-content: center;
  display: flex;
  padding: 10px;
}

.columnservices {
  align-items: center;
  flex-basis: 20%; /* Each column takes up 20% of the container width */
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.columndev {
  align-items: center;
  flex-basis: 20%; /* Each column takes up 20% of the container width */
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.columndev img {
  /* height: 10vh;
  width: 10vw; */
  height: 50%;
  width: 30%;
}
.columnsupport img {
  /* height: 10vh;
  width: 10vw; */
  height: 100%;
  width: 50%;
}
.columnservices img {
  /* height: 10vh;
  width: 10vw; */
  height: 100%;
  width: 50%;
}
.columncloud img {
  /* height: 10vh;
  width: 10vw; */
  height: 100%;
  width: 50%;
}
.columnconsultancy img {
  /* height: 10vh;
  width: 10vw; */
  height: 100%;
  width: 50%;
}
.columnconsultancy {
  align-items: center;
  flex-basis: 20%;
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.columncloud {
  align-items: center;
  flex-basis: 20%;
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.columnsupport {
  align-items: center;
  flex-basis: 20%; /* Each column takes up 20% of the container width */
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
figcaption {
  text-align: center;
  padding-top: 70px;
}
.list-group {
  padding: 30px 30px;
  text-decoration: none;
}
.list-group h5 {
  text-align: center;
}
list-group p {
  padding: 30p;
}
.column.active {
  background-color: #5bc82d;
}
.cards {
  display: flex;
}

.card {
  flex: 1;
  margin: 20px ;
  padding: 80px;
  background-color: #ccc;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #5BC82D;
}
