.services {
  color: blue;
  font-size: larger;
  margin-left: 40%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.content {
  margin-top: 50px;
}
.image1 {
  background-image: url(./../rainbow.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.image2 {
  background-image: url(./../unsplash.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.blue{
  background-image: url(./../blue.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; 
}
.portrait {
  justify-content: flex-end;
  /* align-items: center; */
  background-color: rgb(226, 102, 102);
  margin-left: 50%;
  margin-top: 1%;
  width: 50%;
  opacity: 70%;
  padding-left: 7%;
  height: 50vh;
}
.logo{
 height: 10%;
 width: 10%;
}
/* .content{ */
  /* background-image: url('./../boxed-water-is-better-jbcY_yvsDzk-unsplash.jpg'); /* Replace with your image path */
  /* background-repeat: no-repeat; */
/* }  */


.about {
  margin-top: 7%;
  background-color: white;
  width: 10%;
  opacity: 70%;
  height: 400px;
}
.abouthome{
  margin-top: 7%;
  width: 50%;
  opacity: 70%;
  height: 400px;
  background-color: white;
}
.quotes span{
  font-weight: bolder;
  padding-left: 30px;
}
 img{
  /* padding-top: 10%; */
  height: 30%;
  width: 30%;
  margin-left: 60%;
}
.quotes p{
  padding-left: 10%;
  /* text-align: center; */
}
.middlecontent{
  text-align: center;
}
.abouthome p{
  text-align: center;
  padding-top: 30%;
}
.about h1 {
  font-weight: bold;
  padding-left: 50%;
  padding-top: 30%;
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.paragraph {
  display: grid;
  text-align: center;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section-header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}*, ::after, ::before {
  box-sizing: border-box;
}