.carousel {
    display: flex;
    overflow-x: auto;
  }
  
  .carousel-item {
    flex: 0 0 30%; /* Adjust the width of each item as needed */
    margin-right: 10px; /* Adjust the spacing between items as needed */
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Add border radius for rounded corners */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  