
	.newsletter .content {
	margin:  auto;
	text-align: center;
	position: relative;
 }
	.newsletter .content p {
	color: black;
}
	.newsletter .content .form-control {
	height: 8vh;
	border-color: #ffffff;
	border-radius:0;
	}
	.newsletter .content.form-control:focus {
	border: 1px solid #243c4f;
	}
	.newsletter .content .btn {
	min-height: 8vh; 
	padding-left: 30px;
	text-align: center;

	border-radius:15;
	background: hsl(123, 62%, 68%);
	color: #fff;
	font-weight:600;
	}
	.input-group-btn{
		border-radius: 60px;
		box-sizing: 60px;
		padding-right: 40px;
}
	
	